.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: $black;
    font-family: "Roboto", sans-serif;
   
}
.text-heading{
    color: $black-22;
}